top-header{
  display: inline-block;
  align: auto;

}

body {
  background-color: DarkSlateGrey;
}


hr {
border-style: none;
border-top-style:groove;
background-color: grey;
border-width: 3px;
width: 100%;
}

p{
color: white;
font-style: normal;
font-family: arial;

}

a:link{
  color:white;
  text-decoration: underline;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

a:visited {
color:blue;

}
a:hover {

  color:white;
}

a:active {
color: red;

}

h3{
color:white;
font-family: arial;

}

H1{
color: white;
font-family: arial;

}

label {

  cursor: grabbing;
  color:white;

  padding: 3px;
  margin: 3px;

}

footer{
text-align: center;
padding: 3px;
background-color: grey;
color: white;
display: block;

}
